[submodule "3rd_party/lua"]
	path = 3rd_party/lua
	url = https://github.com/lua/lua
[submodule "3rd_party/Unity"]
	path = 3rd_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "3rd_party/tinyalloc"]
	path = 3rd_party/tinyalloc
	url = https://github.com/thi-ng/tinyalloc.git
